<?xml version="1.0" encoding="utf-8"  ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 定义别名 -->
    <typeAliases>
        <!--<typeAlias type="cn.goldlone.po.DBPowers" alias="powers"/>-->
    </typeAliases>

    <!-- 定义数据库信息，默认使用development 数据库构建环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 采用JDBC事务管理 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据库链接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://123.207.159.214:3306/ccfsxu?characterEncoding=UTF-8"/>
                <property name="username" value="cn"/>
                <property name="password" value="cheng521"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 定义映射器 -->
    <mappers>
        <!--<mapper resource="cn/goldlone/data/CourseMapper.xml" />-->
    </mappers>
</configuration>